<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, smarcon All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: smarcon
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="core.mapper.CoreTestMapper">
    <resultMap id="Test" type="core.entity.CoreTest">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="value" column="value"/>
    </resultMap>

    <select id="getById" resultType="core.entity.CoreTest">
        select *
        from core_test
        where id = #{id}
    </select>

    <!-- if标签在where标签下第一个 可以加id 会默认去掉，如果没在会报错 -->
    <select id="getAllByNameAndValue" resultType="core.entity.CoreTest">
        select
        *
        from
        core_test
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="value != null">
                and value like concat('%', #{value}, '%')
            </if>

            <!--            <if test="exit == '1'.toString()" >-->
            <!--                and end_status = 1-->
            <!--            </if>-->
        </where>
    </select>

    <!--不可以重载-->
    <select id="getAllByEntity" resultType="core.entity.CoreTest">
        select
        *
        from
        core_test
        <where>
            <if test="entity.name != null and entity.name != ''">
                and name like concat('%', #{entity.name}, '%')
            </if>
            <if test="entity.value != null">
                and value like concat('%', #{entity.value}, '%')
            </if>
        </where>
    </select>

    <select id="getChooseAll" resultType="core.entity.CoreTest">
        select
        *
        from
        core_test
        <where>
            <choose>
                <when test="entity.name != null">
                    and id = 1
                </when>
                <when test="entity.value != null">
                    and id = 2
                </when>
                <otherwise>
                    and id = 3
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="getAllPage" resultType="core.entity.CoreTest">
        select
        *
        from
        core_test
        <where>
            <if test="entity.name != null and entity.name != ''">
                and name like concat('%', #{entity.name}, '%')
            </if>
            <if test="entity.value != null">
                and value like concat('%', #{entity.value}, '%')
            </if>
        </where>
    </select>
</mapper>
